[submodule "p5/json-tiny"]
	path = p5/json-tiny
	url = https://github.com/daoswald/JSON-Tiny.git
[submodule "p5/http-tiny"]
	path = p5/http-tiny
	url = https://github.com/chansen/p5-http-tiny.git
[submodule "p5/try-tiny"]
	path = p5/try-tiny
	url = https://github.com/p5sagit/Try-Tiny.git
[submodule "p5/path-tiny"]
	path = p5/path-tiny
	url = https://github.com/dagolden/Path-Tiny.git
[submodule "p5/module-info"]
	path = p5/module-info
	url = https://github.com/neilb/Module-Info.git
[submodule "p5/Role-Tiny"]
	path = p5/Role-Tiny
	url = https://github.com/moose/Role-Tiny.git
[submodule "p5/module-runtime"]
	path = p5/module-runtime
	url = git://git.fysh.org/zefram/Module-Runtime.git
[submodule "p5/data-section-simple"]
	path = p5/data-section-simple
	url = https://github.com/miyagawa/Data-Section-Simple.git
