stages:
  - test

variables:
  GIT_SUBMODULE_STRATEGY: recursive

before_script:
  - apk update ; apk add git make
  - git clone --depth=1 --recurse-submodules https://github.com/junegunn/vader.vim.git
  - git clone --depth=1 --recurse-submodules https://github.com/rsrchboy/vim-ducttape.git
  - vim --version
  - perl -V

test-latest:
  stage: test
  image:
    name: thinca/vim:latest-full
    entrypoint: [""]
  script:
    - echo | vim -Nu vader/vimrc -c 'Vader! vader/*' LICENSE

test-8.0.1575:
  stage: test
  image:
    name: thinca/vim:v8.0.1575-full
    entrypoint: [""]
  script:
    - echo | vim -Nu vader/vimrc -c 'Vader! vader/*' LICENSE

test-7.4.2273:
  stage: test
  image:
    name: thinca/vim:v7.4.2273-full
    entrypoint: [""]
  script:
    - echo | vim -Nu vader/vimrc -c 'Vader! vader/*' LICENSE
